.folder__box {
  width: 150px;
  height: 30px;
  background-color: rgb(184, 184, 184);
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 5px;
}
.folder__box:hover {
  cursor: pointer;
}
